@import url('https://fonts.cdnfonts.com/css/core');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Core', sans-serif;
}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section,
footer {
    padding: 54px 0;
}

#logo {
    margin-top: 1px;
    height: 150px;
}

h1 {
    font-size: 50px;
}

p {
    color: #8f8e8e;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.container img {
    height: 150px;
}

.btn {
    background-color: #f8642e;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn:hover {
    background-color: #e0511d;
}

#botton {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5;
}

#botton:hover {
    letter-spacing: 0.25em;
}

header {}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: #fff;
    margin: 0 30px;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
}

nav ul a:not(.btn):after {
    content: "";
    background-color: #f8642e;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1 {
    display: block;
    font-size: 96px;
    color: #000e;
}

.banner .banner-text p {
    font-size: 25px;
    color: #4b4b4b;
    margin: 8px 0;
}

section .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container img {
    height: 400px;
    margin-top: -70px;
}

.sobre-text p {
    margin-bottom: 10px;
    font-size: 20px;
}

section .contatos {
    display: flex;
}

.contatos .contatos-method {
    margin-top: 15px;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 372px;
    margin-bottom: 10px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section .contatos {
    display: flex;
    justify-content: space-between;
}

.mapbox {
    margin-top: 90px;
    margin-left: 100px;
    width: 600px;
    height: 370px;
    background: #fff;
}

.mapbox iframe {
    width: 100%;
    height: 100%;
}

footer p {
    color: #fff;
}